In [1]:
!kaggle datasets download -d anth7310/mental-health-in-the-tech-industry

Downloading mental-health-in-the-tech-industry.zip to C:\Users\alisa\coding\sql_explore

  0%|          | 0.00/1.98M [00:00<?, ?B/s]
 51%|#####     | 1.00M/1.98M [00:00<00:00, 9.55MB/s]
100%|##########| 1.98M/1.98M [00:00<00:00, 14.7MB/s]

In [2]:
!unzip mental-health-in-the-tech-industry.zip

Archive:  mental-health-in-the-tech-industry.zip
  inflating: mental_health.sqlite

In [3]:
import sqlite3
import pandas as pd

In [4]:
conn = sqlite3.Connection('mental_health.sqlite')
cur = conn.cursor()

In [7]:
cur.execute("""SELECT * From Question""")
df = pd.DataFrame(cur.fetchall())
df.columns = [x[0] for x in cur.description]
df

                                          questiontext  questionid
0                                    What is your age?           1
1                                 What is your gender?           2
2                         What country do you live in?           3
3    If you live in the United States, which state ...           4
4                               Are you self-employed?           5
..                                                 ...         ...
100  Do you think that team members/co-workers woul...         114
101  If yes, what condition(s) have you been diagno...         115
102  If maybe, what condition(s) do you believe you...         116
103  Which of the following best describes your wor...         117
104                              Do you work remotely?         118

[105 rows x 2 columns]

In [8]:
cur.execute("""SELECT * From Answer""")
df = pd.DataFrame(cur.fetchall())
df.columns = [x[0] for x in cur.description]
df

                AnswerText  SurveyID  UserID  QuestionID
0                       37      2014       1           1
1                       44      2014       2           1
2                       32      2014       3           1
3                       31      2014       4           1
4                       31      2014       5           1
...                    ...       ...     ...         ...
236893               Other      2016    2689         117
236894             Support      2016    2690         117
236895  Back-end Developer      2016    2691         117
236896     DevOps/SysAdmin      2016    2692         117
236897               Other      2016    2693         117

[236898 rows x 4 columns]

In [9]:
cur.execute("""SELECT * From Survey""")
df = pd.DataFrame(cur.fetchall())
df.columns = [x[0] for x in cur.description]
df

   SurveyID                    Description
0      2014  mental health survey for 2014
1      2016  mental health survey for 2016
2      2017  mental health survey for 2017
3      2018  mental health survey for 2018
4      2019  mental health survey for 2019